.container-fluid {
    padding: 3% 10%;
}

.institution {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
    padding-top: 2.5%;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding-top: 1%;
    padding-bottom: 2%;
}

/* Title section */
#title {
    text-align: center;
}

#title h1 {
    font-style: italic;
}

 /* Education section */
 #education {
     text-align: center;
     font-family: 'Roboto', sans-serif;
     padding-top: 3%;
 }

#education .institution {
    text-align: left;
}

#education .date {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
    padding-top: 2.5%;
}

 .qualification {
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 1.5rem;
     padding-top: 1.5%;
     padding-bottom: 1%;
}

.class {
    font-weight: 500;
    font-size: 1.5rem;
    font-style: italic;
}

.subject {
    text-align: left;
}
.grade {
    text-align: right;
    font-weight: 700;
}

/* Awards section */
#awards {
    text-align: center;
    padding-top: 3%;
}

#awards .institution {
    font-size: 1.3rem;
}

.award {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 2.5%
}

 /* Professional experience section */
 #experience {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 3%;
 }

.job {
    font-weight: 700;
    font-size: 1.35rem;
 }

 #experience .date, .employer {
     font-weight: 700;
     font-style: italic;
     padding-top: 0.75%;
 }

 /* Skills and interests section */
 #skills {
     text-align: center;
     padding-bottom: 150px;
     padding-top: 3%;
 }
 
 .course {
    padding: 0.25%;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

 #skills hr {    
    border-top: 3px dashed;
    max-width: 10%;
 }