.accordion-entry {
    border-bottom: 3px solid white;
}

.accordion-entry:first-of-type {
    border-top: 3px solid white;
}

.accordion-header {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
    width: 100%;
}

.accordion-header > *:first-child {
    margin-left: 0.5rem;
}

.accordion-header > *:last-child {
    margin-left: 1rem;
    margin-right: 0.5rem;
}
  
.accordion-header:hover {
    background-color: #001c3c;
}

.accordion-header.active {
    background-color: transparent;
}
  
.accordion-panel {
    max-height: 0;
    overflow: hidden;
    padding: 0 0.8rem;
    transition: max-height 1s ease-out;
}