.collage {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center safe;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.collage::-webkit-scrollbar {
    display: none;
}

.collage img {
    border-radius: 3%;
    width: 50%;
}

.collage-container {
    position: relative;
}

.collage-container button {
    background: transparent;
    border-radius: 100%;
    border: 3px solid white;
    color: white;
    display: inline-block;
    font-size: xx-large;
    position: absolute;
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0.8); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(0.8); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

.collage-container button:hover {
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transform: scale(1);
    z-index: 2;
}

.collage-container .scroll-left {
    top: 50%;
    left: 5px;

}

.collage-container .scroll-right {
    top: 50%;
    right: 5px;
}