.collage {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center safe;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.collage::-webkit-scrollbar {
    display: none;
}

.collage img {
    border-radius: 3%;
    width: 50%;
}

.collage-container {
    position: relative;
}

.collage-buttons {
    display: flex;
    justify-content: space-around;
}

.collage-buttons button {
    background: transparent;
    border-radius: 25%;
    border: 3px solid white;
    color: white;
    font-size: xx-large;
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0.8); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(0.8); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

.collage-buttons button:hover {
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    z-index: 2;
}
