.nav-bar {
    margin: auto;
    max-width: 600px;

    display: flex;
    justify-content: space-evenly;

    font-size: larger;
    font-weight: bold;

    border-bottom: 3px solid black;
}

.nav-link {
    padding: 8px;
    color: black;
    text-decoration: none;
}

.main {
    margin: auto;
    max-width: 600px;
    text-align: justify;
}

.video {
    display: block;
    margin: auto;
}