html {
    background-color: #002147;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    max-width: 600px;
}

h1 {
    font-weight: 500;
}

.main p {
    text-align: justify;
}

.main a {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}

.main img {
    width: 100%;
}

.section {
    min-height: 75vh;
    padding-bottom: 10vh;
}

.introduction {
    height: 100vh;
    display: flex;
    align-items: center;
}

.introduction-text {
    transform: translateY(-10vh);
}

#alice-gpt-examples {
    align-items: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    min-height: 300px;
}

#alice-gpt-examples .gpt-example {
    display: none;
    opacity: 0;
    transition: opacity 1.2s;
}

#alice-gpt-examples .active {
    display: inline;
    opacity: 1;
}

p.quote {
    font-weight: bold;
    text-align: center;
}