.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;

    padding: 10px 10px;
    background-color: #b9d7ea;
}

.nav-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    margin-right: 15px;
}

.nav-btn:first-child {
    font-size: 20px;
    color: black;
}

.nav-btn:hover {
    color: #111;
}

.nav-btn img {
    margin-right: 5px;
}

.nav-icon {
    color: #333;
    font-size: x-large;
    padding: 5px 12px 7px 12px;
    text-decoration: none;
    display: none;
    border: 1px solid #555;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.nav-icon:hover {
    background-color: rgb(150, 181, 216);
}

@media screen and (max-width: 600px) {
    .nav-btn:not(:first-child) {
      display: none;
    }
    .nav-icon {
      margin-left: auto;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        flex-direction: column;
        justify-content: center;
    }
    .navbar.responsive .nav-icon {
      margin-right: auto;
      margin-top: 8px;
      padding: 2px 10px;
      border: none;
    }
    .responsive .nav-btn {
        display: flex;
        min-height: 50px;
        border-bottom: 1px solid #aaa;
        margin: auto;
    }
}