.nav-bar {
    margin: auto;
    max-width: 600px;
    height: 5vh;

    display: flex;
    justify-content: space-evenly;

    font-size: larger;

    border-bottom: 3px solid white;
}

.nav-link {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(0.8); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(0.8); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(0.8);
    transition: all 200ms ease-in;
    transform: scale(0.8);
}

.nav-link:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}