body {
  align-items: center;
  text-align: center;
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
  margin: 1.2em auto;
}

.col-header {
  background-color:#1C6EA4;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 3px solid grey;
  color: #FFFFFF;
  padding: 1.2em;
}

.row-header {
  border: 1px solid black;
  padding: 1.2em
}

.table-logo {
  padding: 1.2em;
}

td {
  padding: 1.2em;
  text-align: center;
}

tbody td {
  border: 1px solid grey;
}

tr:nth-child(even) {
    background-color: #eee;
}

.pred-input {
  align-items: center;
}

img, .custom-file {
  display: block;
  margin: auto;
}

.custom-file {
  max-width: 50%
}

h1 {
  font-family: sans-serif;
  margin: 1.1em auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .webcam{
      width: 100%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .webcam{
      width: 90%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .webcam{
      width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .webcam{
      width: 60%;
    }
}
